
.top-part{
    background-image: url("https://images.unsplash.com/photo-1414235077428-338989a2e8c0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size:100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 540px; */
    filter: brightness(90%);

}

.background-image {
    filter: brightness(40%);
}



.text-color {
    color: white;
    font-size: 30px;
    text-align: center;
}


.info-box {
        /* box-shadow: 19px -20px 34px 22px rgba(0,0,0,0.1); */
        border: 3ch;
        /* width: 1000px;
        height: 500px; */
        margin-bottom: 10ch;
        justify-content: center;
        display: flex;
}