
.top-part{
    background-image: url("https://images.unsplash.com/photo-1414235077428-338989a2e8c0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size:100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 540px; */
    filter: brightness(60%);

}


.text-color {
    color: white;
}
