.text-center {
    text-align: center;
    align-content: flex-end;
    /* position:absolute; */
    left:0;
    bottom:0;
    right:0;
    background-color: black;
    color:white;
    /* height: 30px; */
}