.Navbar {
    color: black; /* Text color of the navbar */
    padding: 10px; /* Padding around the content inside the navbar */
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Space items evenly along the main axis */
    align-items: center; /* Vertically center items */
    background-color: red;
}


.nav-container{
    display:flex;
}
.navbar-item {
    margin: 0; /* Remove default margin for the heading */
    font-size: 18px; /* Adjust the font size of the heading */
    padding: 10px 20px; /* Add padding around each navbar item */
    cursor: pointer; /* Change cursor to pointer on hover for better UX */
}

.navbar-item:hover {
    color:red; 
}


