.App{
    /* height:100vh; */
    width:auto;
<<<<<<< HEAD
=======
    background-color: lightgreen;
>>>>>>> parent of 4adc222 (Merge pull request #10 from evanz0820/E)
    display:flex;
    flex-direction: column;
}

<<<<<<< HEAD
html, body {
  margin: 0;
  padding: 0;
} 

/* .search-bar{
=======

.search-bar{
>>>>>>> parent of 4adc222 (Merge pull request #10 from evanz0820/E)
    display: flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:50%;
}

.input-bar{
    width: 50%;
    height:10%;
    border-radius: 60px;
}

.content-login-container{
    height:50%;
    width:100%;
    display:flex;

}

.inside-content-login{
    width:100%;
    display:flex;
    gap:10px;
}

.left-content{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.right-content{
    height: 70%;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
<<<<<<< HEAD
} */
=======
}
>>>>>>> parent of 4adc222 (Merge pull request #10 from evanz0820/E)


.burgers-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.burger-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
}

.burger-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
<<<<<<< HEAD
}
=======
}
>>>>>>> parent of 4adc222 (Merge pull request #10 from evanz0820/E)
